In [1]:
import pandas as pd

In [2]:
data={
        'cust':['coo1','coo2','coo3','coo4','coo5'],
        'el':['high school','bachelor','masters','phd','masters'],
        'pq':['low','high','medium','high','low'],
        'sl':['poor','average','excelent','average','poor']
    
}

df=pd.DataFrame(data)

In [3]:
df

   cust           el      pq        sl
0  coo1  high school     low      poor
1  coo2     bachelor    high   average
2  coo3      masters  medium  excelent
3  coo4          phd    high   average
4  coo5      masters     low      poor

In [10]:

el=['high school','bachelor','masters','phd']
pq=['low','medium','high']
sl=['poor','average','excelent']

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
oe=OrdinalEncoder(categories=[el,pq,sl])
df[['el','pq','sl']]=oe.fit_transform(df[['el','pq','sl']])

In [13]:
df

   cust   el   pq   sl
0  coo1  0.0  0.0  0.0
1  coo2  1.0  2.0  1.0
2  coo3  2.0  1.0  2.0
3  coo4  3.0  2.0  1.0
4  coo5  2.0  0.0  0.0